@model IEnumerable<Checkout>

@{
    ViewData["Title"] = "Index";
}
@* *@
@* <h1>Index</h1> *@
@* *@
@* <p> *@
@*     <a asp-action="Create">Create New</a> *@
@* </p> *@
@* <table class="table"> *@
@*     <thead> *@
@*         <tr> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.InventoryName) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.InventoryPic) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.InventoryPrice) *@
@*             </th> *@
@*             <th></th> *@
@*         </tr> *@
@*     </thead> *@
@*     <tbody> *@
@* @foreach (var item in Model) { *@
@*         <tr> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.InventoryName) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.InventoryPic) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.InventoryPrice) *@
@*             </td> *@
@*             <td> *@
@*                 <a asp-action="Edit" asp-route-id="@item.CheckoutId">Edit</a> | *@
@*                 <a asp-action="Details" asp-route-id="@item.CheckoutId">Details</a> | *@
@*                 <a asp-action="Delete" asp-route-id="@item.CheckoutId">Delete</a> *@
@*             </td> *@
@*         </tr> *@
@* } *@
@*     </tbody> *@
@* </table> *@
<body class="checkOutBack">
    <div class="centered-box" style="background-color: white;">
        <h4>Cart > Shipping > Pay > Order Complete</h4>
    </div>

    <div class="row">
        <h1 id="shopCart">Shopping Cart</h1>
        <hr>
    </div>
<div class="container">
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-8">
                Item
                <p id="checkoutP" style="display: inline">Price</p>
                <div class="left-checkout-box">
                    <img class="checkoutPic" src="../../Images/@Html.DisplayFor(modelItem => item.InventoryPic)" alt="">
                    <h5 style="display: inline">@Html.DisplayFor(modelItem => item.InventoryName)</h5><h5 class="checkoutPrice" style="display: inline">$@Html.DisplayFor(modelItem => item.InventoryPrice)</h5>
                </div>
            </div>
           @* <div class="col align-self-end">
                Total
                <div class="right-checkout-box">
                    <h6>Order Summary</h6>
                    <h5 style="display: inline">Subtotal: </h5><h4 style="display: inline">$@Html.DisplayFor(modelItem => item.InventoryPrice)</h4>
                    <button class="checkoutButton">Checkout Now(0)</button>
                </div>
            </div>*@
        </div>
    }
</div>

</body>
